# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE configurations
.idea/
.vscode/
*.swp
*.swo

# Large files, binaries and software installers
software/
*.exe
*.msi
*.tar
*.zip

# Website build / deployments
website/

# Backups and reference
backup/
reference/
scratch/
*.bak
